# python
__pycache__/
*.pyc
*.pyo
*.pyd

#env
/cap6
/cap10

# datasets
data/

# experiments
experiments/

# tensorboard
runs/
tensorboard/

# model checkpoints
/artifacts
*.pth
*.pt
*.onnx

# mac
.DS_Store

# vscode
.vscode/

# logs
*.log

# docker
*.tar

# build
build/
dist/

*pptx
/onnx

CLAUDE.md
